body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --nav-left: #000;
    --color-main: #141922;
    --nav-bottom: #282828;
}
.flex{
    display: flex;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    height: calc(100vh - 11.25rem);
    overflow: hidden;
}
.barra{
    background-color: white;
    height: .25rem;
    width: 100%;
    border-radius: 5px;
}