footer{
    background-color: var(--nav-bottom);
    height: 5.75rem;
    width: 100%;
    color: white;
}
footer > .flex{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 .625rem;
}

/* Parte sinistra del player */
.mini-player {
    max-width: 215px;
    align-items: center;
    flex-grow: 1;
}
.mini-player img{
    height: 29px;
    display: block;
    margin-right: .625rem;
}
.mini-player .album-info{
    max-width: 6.25rem;
    margin-right: .3125rem;
}
.mini-player ul{
    flex-wrap: wrap;
}
.mini-player .subtitle{
    margin: 0;
    width: 100%;
}
footer .flex .mini-player .album-name{
    width: 100%;
    font-size: .8125rem;
}
.mini-player ul.flex.icon li{
    opacity: 0.5;
    width: 100%;
}
/* Footer parte sinistra del player in tutti i formati */
@media screen and (min-width: 552px) {
    .mini-player ul.flex .subtitle{
        width: 50%;
    }
}
@media screen and (min-width: 640px) {
    .mini-player img{
            height: 2.75rem;
    }
    .mini-player ul.flex.icon{
        flex-wrap: nowrap;
    }
    .fa-folder{
        margin-left: .3125rem;
    }
         
}
@media screen and (min-width: 878px) {
    .mini-player{
        width: 100%;
    }
    .mini-player img{
        height: 2.75rem;
    }
}
/* ------- */

/* Parte centrale del footer  */
.sound-player{
    max-width: 525px;
    flex-grow: 1;
}
.sound-player .control{
    justify-content: center;
    align-items: center;
}
.sound-player .control li{
    padding: 0 10px 5px;
}
.sound-player .time{
    align-items: center;
    margin: 0 .3125rem;
    font-size: .875rem;
}
.time-b{
    width: 100%;
    margin: 0 .625rem;
}
.fa-circle-play{
    font-size: 1.875rem;
}
/* ------- */

/* Parte destra del footer */
.volume{
    max-width: 210px;
    flex-grow: 1;
}
.volume .flex{
    align-items: center;
}
.volume .flex li{
    padding: 0 .3125rem;
    font-size: .8125rem;
}
.volume .sound{
    width: 100%;
}
/* ------- */