footer{
    background-color: var(--nav-bottom);
    height: 5.75rem;
    width: 100%;
    color: white;
}
footer > .flex{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 .625rem;
}

/* Parte sinistra del player */
.mini-player {
    max-width: 215px;
    align-items: center;
}
.mini-player img{
    max-height: 44px;
    display: block;
    margin-right: .625rem;
}
.mini-player .album-info{
    max-width: 6.25rem;
}
.mini-player ul{
    flex-wrap: wrap;
}
.mini-player .subtitle{
    margin: 0;
    width: 100%;
}
footer .flex .mini-player .album-name{
    width: 100%;
}
.mini-player ul.flex.icon li{
    opacity: 0.5;
    width: 100%;
}
/* Footer parte sinistra del player in tutti i formati */
@media screen and (min-width: 552px) {
    .mini-player ul.flex .subtitle{
        width: 50%;
    }
}
@media screen and (min-width: 640px) {
    .mini-player ul.flex.icon{
        flex-wrap: nowrap;
    }
    .fa-folder{
        margin-left: .3125rem;
    }
}
@media screen and (min-width: 878px) {
    .mini-player{
        width: 100%;
    }
}
/* ------- */