header{
    background-color: rgba(0, 0, 0, 02.5rem);
    max-height: 5.625rem;
    color: white;
}
header > .flex{
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header .flex .flex.logo{
    background-color: var(--nav-left);
    max-width: 230px;
    height: 5.625rem;
    align-items: center;
    padding: .625rem;
}
.btn-box{
    background-color: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    text-align: right;
}
header button{
    border: 2px solid white;
    padding: .9375rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.btn-box{
    padding: 1.25rem .625rem 1.75rem;
}
.logo-sm{
    width: 28px;
    height: 28px;
}
.logo-bg{
    display: none;
}
/* Header formato sm  */
@media screen and (min-width: 552px) {
    header .flex .flex.logo{
        width: 100%;
        padding-left: 20px;
    }
    .logo-bg{
        display: block;
        width: 75%;
    }
    .logo-sm{
        display: none;
    }
}
/* ------- */
