/* Nav-Bar Laterale */
main nav {
    background-color: var(--nav-left);
    max-width: 230px;
    color: #7d7f84;
    /* padding: 10px; */
    height: 100%;
}
nav.flex{
    flex-direction: column;
}
nav li{
    padding: 0 .625rem;
}
main nav ul li.flex{
    align-items: center;
    margin: 14px 0;
}
main nav ul li img{
    height: 28px;
    opacity: 0.5;
}
.name{
    margin-left: 10px;
    display: none;
}
.fa-circle-down{
    margin-left: .3125rem;
}
.nav-top{
    flex-grow: 1;
}
.nav-mid{
    display: none;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 30px;
}
.nav-mid .flex{
    padding-left: 20px;
}
.nav-mid .list-name{
    overflow: auto;
    height: 100%;
}
.nav-mid .flex{
    align-items: center;
    padding-top: .9375rem;
}
.nav-mid > div:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.5625rem;
    padding: 0 20px;
}
.fa-plus{
    background-color: white;
    color: black;
    padding: .5625rem;
    margin-right: .625rem;
}
.nav-mid .list-name li{
    margin: 22px 0 25px;
}
hr{
    display: none;
}
/* ------- */
/* Main nav-bar formato -sm */
@media screen and (min-width: 552px) {
    main nav{
        width: 100%;
    }
    nav li{
        padding-left: 1.25rem;
    }
    .nav-top{
        flex-grow: 0;
    }
    .name{
        display: block;
    }
    .nav-mid{
        display: block;
    }
    hr{
        display: block;
    }
}
/* ------------------ */
/* Sezione centrale degli album musicali */
.album{
    background-color: var(--color-main);
    width: calc(100% - 48px);
    padding: 1.875rem;
    color: white;
    overflow: auto;
}
.album .flex{
    flex-wrap: wrap;
}
.album .tipo{
    justify-content: center;
    margin-bottom: 1.875rem;
}
.album .flex .col{
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #7d7f84;
}
.album-title{
    font-size: 1.5625rem;
    font-weight: bolder;
}
.album .flex .box-album{
    width: calc(100% / 2 - 1.25rem);
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
}
.album .recent-album{
    margin: 35px -10px 0;
}
.album .flex .box-album img{
    width: 100%;
}
.album .box-album .album-name{
    margin: 1.25rem 0 1.0625rem;
}
.subtitle{
    color: #7d7f84;
    font-size: .8125rem;
    margin-bottom: .625rem;
    margin-top: .625rem;
}

/* ------- */
/* main sezione album formato medium */
@media screen and (min-width: 640px) {
    .album .flex .box-album{
        width: calc(100% / 4 - 1.25rem);
    }
}
/* ------- */
/* mains sezione album formato large */
@media screen and (min-width: 878px) {
    .album .flex .box-album {
        width: calc(100% / 6 - 1.25rem);
    }
}
/* ------- */

